<!DOCTYPE html>
<html>
<head>
    <title>Ingresar Cuatrimestre</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Ingresar Cuatrimestre del Alumno</h1>
        <form method="POST" class="mt-3">
            <div class="form-group">
                <label for="cuatrimestre_alumno">Cuatrimestre del Alumno:</label>
                <input type="number" class="form-control" id="cuatrimestre_alumno" name="cuatrimestre_alumno" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>
</html>
